@model IEnumerable<EazyParkingWithAuth.Models.Parking>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Parking</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Parking</th>
            <th>Suburb</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var parking in Model)
          {
        <tr>
            <td>@Html.ActionLink(parking.Name, "details", "parking", new { id = parking.Id }, null)</td>
            <td>@parking.Suburb.Name</td>
        </tr>
          }
    </tbody>
</table>